/*events page*/
.event-button {
    display: block; /* Make button full-width */
    width: 100%; 
    margin: 10px 0; 
    padding: 15px; 
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left; 
}
.event-details {
    display: none; /* Hidden by default */
    margin-top: 5px; /* Small margin above details */
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.register-form {
    display: none; /* Hidden by default */
    margin-top: 10px;
}
.register-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}